[submodule "server/submodule-indiego"]
	path = server/submodule-indiego
	url = git@github.com:indiego-project/submodule-indiego.git
[submodule "submodule-indiego"]
	path = submodule-indiego
	url = https://github.com/indiego-project/submodule-indiego.git
